.products-index,
.products-div {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    justify-content: center;
    align-content: center;
    text-align: center;
}

.card {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    color: #2f2e2e;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
}

.card img {
    margin: 30px 0 30px 0;
    width: 80%;
}

.products-div img {
    margin: 0;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 30%;
    box-shadow: 8px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.card-title {
    font: var(--font_4);
}

.card-description {
    line-height: 1.1em;
    font: var(--font_1);
    margin-bottom: 20px;
    color: #5f5e5e;
}

.btn-product {
    padding: 4%;
    border: none;
    font: var(--font_1);
    color: white;
    background: #2f2e2e;
}

.btn-product:hover {
    color: #2f2e2e;
    background-color: white;
    border: 1px solid #2f2e2e;
}

.icons-cards {
    display: flex;
    justify-content: space-evenly;
}

/*
.icons-cards {
    position: relative;
}

.results {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
}
